<% provide(:title, @user.name) %>
<div>
  <h1>メルスクの使い方</h1>
</div>
  <div class = "container">
  　<div class="col-xs-3 col-md-3 col-lg-3">
    <%= form_with url: youtube_scrape_path, method: :get, local: true do | search_item | %>
    <%= search_item.text_field :keyword, class: "form-control" %>
    <%= search_item.hidden_field :id, :value => current_user %>
    <%= search_item.submit "抽出", class: "btn btn-success form_date_select" %>
    <% end %>
    </div>
  </div>
  <table class="table table-bordered table-condensed user-table">
    <tr>
      <td>イメージ</td>
    </tr>
    <% @youtube_all_to_array.each do |youtube|%>
    <tr>
      <td>
      <a href="<%= youtube.video_url %>"><%= youtube.title %></a>
      </td>
    </tr>
    <% end %>
  </table>
</div>
