<% @user ||= current_user %>
<header class="navbar navbar-fixed-top navbar-inverse header-color">
  <div class="container">
    <%# ログイン中はタイトルボタンでユーザーページに繊維する。 %>
    <% if logged_in? %>
      <%= image_tag 'mersq.png', :size =>'50x50', id: "logoimage" %>
      <%= link_to "メルスク", user_path(@user), id: "logo" %>
    <% else %>
      <%= image_tag 'mersq.png', :size =>'50x50', id: "logoimage" %>
      <%= link_to "メルスク", root_path, id: "logo" %>
    <% end %>
      <ul class="nav navbar-nav navbar-right">
    <% if logged_in? %>
      <%= link_to "v01.08.25", greeting_path, id:"navbar-right-custom" %>
    <% else %>
      <%= link_to "v01.08.25", greeting_path, id:"navbar-right-custom" %>
    <% end %>
      </ul>
    <nav>

      <ul class="nav navbar-nav navbar-right">
      <% if logged_in? %>
        <li><%= link_to "スクレイピング", user_path(@user), id:"navbar-right-custom" %></li>
        <li><%= link_to "使い方", users_how_to_use_path(@user), id:"navbar-right-custom" %></li>
        <li><%= link_to "ユーザー一覧", users_path, id:"navbar-right-custom" if current_user.admin? %></li>

      <% else %>
        <li><%= link_to "ログイン", login_path, id:"navbar-right-custom" %></li>
      <% end %>
      <% if logged_in? %>
        <li class="dropdown header-color">
          <a href="#" id="navbar-right-custom" data-toggle="dropdown">
            アカウント
          </a>
          <ul class="dropdown-menu" >
            <li><%= link_to "アカウント設定", edit_user_path(@user) %></li>
            <li class="divider"></li>
            <li><%= link_to "Log out", logout_path, method: :delete %></li>
          </ul>
        </li>
      <% end %>
      </ul>

    </nav>
  </div>
</header>
